{% extends "base.html" %}
{% load i18n static %}

{% block title %}
    {% trans "Self Service Portal Blog" %}
{% endblock title %}



{% block content %}

<div class="row">
    <div class="col">
        <h1>Post Listing</h1>
    </div>
    <div class="col text-right">
        <a href="{% url 'posts:create' %}" class="btn btn-primary">{% trans "Neuen Post erstellen" %}</a>
    </div>
</div>


<div class="row mt-3">
    {% for post in object_list %}
    <div class="col-12">
        <div class="card mb-5">
            <div class="card-header">
                <h5>{{ post.title }}</h5>
            </div>
            <div class="card-body">
                <p>{{ post.content }}</p>
            </div>
            <div class="card-footer">
                {% for tag in post.tags.all %}
                    <span class="badge bg-secondary">{{ tag }}</span>
                {% endfor %}
                
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}