{% extends 'base.html' %}
{% load static i18n crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>{{ post.title }}</h1>
        <p class="lead">

            {{ post.content }}
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h3>{% trans "Kommentare" %}</h3>
        {% if not post_comments %}
        <div class="alert alert-info">
            <p>{% trans "Noch keine Kommentare vorhanden" %}</p>
        </div>
        {% else %}
            {% for comment in post_comments  %}
                <div class="card">
                    <div class="card-title">
                        {{comment.title}}
                    </div>
                    <div class="card-body">
                        {{comment.comment}}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <form action="" method="POST">
            {% crispy comment_form %}
        </form>
    </div>
</div>
{% endblock content %}